html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
  background-color: #849d8f;
}
.catalog-body {
  background-image: url(../img/illumination.png);
  background-size: cover;
}
.site-container {
  width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  background-color: #e84d37;
  background-image: linear-gradient(to bottom, #e74a35, #f26843 );
  border: none;
  border-radius: 19px;
}
.button:hover {
  background-image: linear-gradient(to bottom, #f58669, #ec6f5e );
}
.button:active {
  background-image: linear-gradient(to bottom, #d74632, #e1613e);
  color: #fceeec;
}
.entry-field::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}
.entry-field::-moz-placeholder {
  font-weight: 400;
  color: #999999;
}
.entry-field:-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}
.entry-field:focus::-webkit-input-placeholder {
  color: transparent;
}
.entry-field:focus::-moz-placeholder {
  color: transparent;
}
.entry-field:focus:-ms-input-placeholder {
  color: transparent;
}
.entry-field {
  min-height: 44px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #323232;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
}
.entry-field:hover {
  border: 1px solid rgba(154, 154, 154, 0.52);
  box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);
}
.entry-field:focus {
  border: 1px solid rgba(46, 136, 228, 0.52);
  box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
}
.main-header {
  position: relative;
  padding: 0 27px;
  text-align: right;
}
.main-navigation {
  display: flex;
  justify-content: space-between;
}
.site-navigation {
  z-index: 2;
  display: flex;
  width: 680px;
  margin: 0;
  margin-top: 20px;
  margin-left: 10px;
  padding: 0;
  list-style: none;
  font-weight: 700;
}
.site-navigation > li {
  position: relative;
  margin-right: 12px;
}
.site-navigation-link {
  position: relative;
  padding: 10px 13px 10px;
  color: #ffffff;
  background-color: transparent;
  border-radius: 14px 15px;
}
.site-navigation-link::after {
  content: "";
  position: relative;
  bottom: 12px;
  left: 15px;
  display: inline-block;
  width: 75%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.site-navigation-item:nth-child(2) .site-navigation-link::after {
  width: 86%;
}
.site-navigation-item:nth-child(3) .site-navigation-link::after {
  width: 80%;
}
.site-navigation-link:hover,
.site-navigation-link:focus {
  padding-bottom: 10px;
  color: #333333;
  background-color: #f7f6f3;
  border-bottom: none;
  border-radius: 14px;
}
.site-navigation-link:hover::after,
.site-navigation-link:active::after,
.site-navigation-link:focus::after,
.site-navigation-link.current::after {
  display: none;
}
.site-navigation-link:active {
  color: #333333;
  background-color: #ededed;
  border-bottom: none;
}
.site-navigation-link.current {
  background-color: #d07058;
  border-bottom: none;
}
.new-items a{
  padding-bottom: 14px;
  font-weight: 700;
  border-bottom: 1px solid rgba(53, 53, 53, 0.2);
}
.item-navigation {
  position: absolute;
  top: 38px;
  left: -7px;
  z-index: -1;
  opacity: 0;
  width: 144px;
  padding: 2px 0;
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 4px;
}
.item-navigation li {
  margin: 0;
}
.site-navigation-link:hover + .item-navigation,
.site-navigation-link:focus + .item-navigation {
  opacity: 1;
  z-index: 2;
}
.item-navigation a {
  display: block;
  padding: 10px 18px 10px 19px;
  color: #323232;
}
.item-navigation li:hover {
  background-color: #fbded7;
}
.item-navigation li:active {
  background-color: #f6b5a5;
}
.site-navigation .current {
  color: #ffffff;
  background-color: #d07058;
}
.user-navigation {
  z-index: 2;
  margin: 23px 0 20px auto;
  padding: 0;
  display: flex;
  list-style: none;
}
.user-navigation li {
  margin-right: 10px;
  font-weight: 500;
  font-size: 14px;
}
.user-navigation li:last-child {
  margin-right: 0;
}
.user-navigation-link {
  display: block;
  line-height: 16px;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 14px;
}
.user-navigation .user-navigation-link:hover,
.user-navigation .user-navigation-link:focus {
  color: #323232;
  background-color: #f8f7f4;
}
.user-navigation .header-search {
  position: relative;
}
.search-button {
  width: 32px;
  height: 32px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
.search-button:hover,
.search-button:focus {
  background-image: url(../img/search-hover.svg);
}
.search-form {
  position: absolute;
  top: 38px;
  left: -308px;
  z-index: -1;
  padding: 20px 15px;
  background-color: #f8f7f4;
  border-radius: 4px 5px;
  opacity: 0;
}
.search-form input {
  width: 310px;
  padding: 8px 12px;
  border-radius: 4px;
}
.search-button:hover + .search-form,
.search-button:active + .search-form,
.search-button:focus + .search-form {
  z-index: 2;
  opacity: 1;
}
.header-enter {
  position: relative;
}
.header-enter .enter-button {
  padding: 7px 16px 7px 44px;
}
.header-enter .enter-button::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 16px;
  width: 21px;
  height: 19px;
  background-image: url(../img/enter.svg);
}
.header-enter .enter-button:hover::before,
.header-enter .enter-button:focus::before {
  background-image: url(../img/enter-hover.svg);
}
.enter-form {
  position: absolute;
  top: 38px;
  left: -183px;
  z-index: -1;
  padding: 20px 17px;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: #999999;
  background-color: #f8f7f4;
  border-radius: 5px;
  opacity: 0;
}
.enter-button:hover + .enter-form,
.enter-button:focus + .enter-form {
  z-index: 2;
  opacity: 1;
}
.enter-form input {
  width: 240px;
  margin-bottom: 20px;
  padding: 8px 12px;
  border-radius: 4px;
}
.enter-form .button {
  padding: 5px 25px;
}
.enter-button-wrapper {
  display: flex;
  justify-content: space-between;
}
.enter-form p {
  width: 119px;
  margin: 0;
}
.enter-form-link {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}
.enter-form-link:hover,
.enter-form-link:active {
  color: #e84d37;
  border-bottom-color: rgba(232, 77, 55, 0.3);
}
.header-cart {
  position: relative;
}
.header-cart .cart-link {
  position: relative;
  padding: 7px 34px 7px 44px;
}
.header-cart .cart-link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 15px;
  width: 21px;
  height: 20px;
  background-image: url(../img/cart.svg);
}
.header-cart .cart-link:hover::before,
.header-cart .cart-link:focus::before {
  background-image: url(../img/cart-hover.svg);
}
.user-navigation .full-cart {
  color: #323232;
  background-color: #f8f7f4;
}
.header-cart .full-cart:before {
  background-image: url(../img/full-cart.svg);
}
.cart-content {
  position: absolute;
  top: 60px;
  right: 0;
  z-index: -1;
  opacity: 0;
  width: 540px;
  padding: 18px 15px;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 4px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4)
}
.cart-content table {
  border-collapse: collapse;
}
.cart-content tr {
  min-height: 55px;
  text-align: left;
}
.cart-content tr:nth-last-child(2) {
  border-bottom: 1px solid #cacac7;
}
.cart-content td {
  padding-bottom: 17px;
  vertical-align: top;
  padding-top: 9px;
}
.cart-content .delete-button {
  width: 26px;
  padding-top: 4px;
}
.cart-button {
  width: 11px;
  height: 11px;
  background-color: transparent;
  background-image: url(../img/x.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
.cart-content .item-image {
  width: 45px;
  padding-top: 0;
}
.cart-content .item-title {
  width: 229px;
}
.item-weight-price {
  width: 141px;
  padding-left: 17px;
}
.item-total-price {
  width: 70px;
}
.cart-content span {
  color: #999999;
}
.cart-total-price td{
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  padding-top: 12px;
  text-align: right;
}
.cart-content .button {
  padding: 9px 15px 11px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 1px 2px 0 #ac1000;
}
.work-schedule {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.phone-number {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
}
.content {
  padding: 0 27px;;
}
.promo-wrapper {
  position: relative;
  margin-bottom: 40px;
}
.promo-actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 495px;
}
.promo-actions:nth-child(2),
.promo-actions:nth-child(3) {
  display: none;
}
.promo-actions h2 {
  z-index: 2;
  order: 1;
  width: 793px;
  font-weight: 700;
  font-size: 60px;
  line-height: 61px;
  text-align: center;
}
.promo-image {
  position: absolute;
  top: -117px;
  left: 50px;
  z-index: 1;
}
.promo-actions .button {
  z-index: 2;
  order: 2;
  padding: 10px 40px 9px;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  border-radius: 28px;
}
.button-wrapper {
  position: absolute;
  left: 0;
  bottom: 20px;
}
.free-proposal {
  margin-bottom: 40px;
}
.free-proposal-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.free-proposal-item {
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 560px;
  padding: 22px 19px;
  border-radius: 11px;
}
.free-proposal-item h3 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}
.free-proposal-item p {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.free-proposal-item .button {
  display: inline-block;
  vertical-align: middle;
  align-self: flex-end;
  padding: 13px 23px;
  color: #ffffff;
  border-radius: 19px;
}
.raspberries {
  background-color: #713f45;
  background-image: url(../img/raspberries.jpg);
}
.raspberries .button {
  background-image: linear-gradient(to bottom, #ca3824, #f26843);
}
.raspberries .button:hover {
  color: #fefefe;
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
}
.chocolate {
  background-color: #665a51;
  background-image: url(../img/chocolate.jpg)
}
.bestsellers {
  margin-bottom: 38px;
}
.ice-cream-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.bestsellers-item::before {
  content: "";
  width: 61px;
  height: 61px;
  background-image: url(../img/hit.svg)
}
.ice-cream-item {
  position: relative;
  width: 267px;
  padding: 210px 0 0px;
  margin-bottom: 40px;
}
.bestsellers-item {
  margin-bottom: 0;
}
.ice-cream-item::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -15px;
  z-index: -1;
  display: none;
  width: 293px;
  height: 405px;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 4px;
}
.ice-cream-item:hover::after {
  display: block;
}
.ice-cream-item .item-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
}
.ice-cream-item .item-price {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}
.item-price span {
  font-size: 45px;
  word-spacing: -5px;
}
.ice-cream-wrapper {
  margin: 0;
  padding: 0;
  text-align: center;
}
.ice-cream-item .item-title-link {
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.ice-cream-item .item-title-link:hover,
.ice-cream-item .item-title-link:active,
.ice-cream-item .item-title-link:focus {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, 0.3);
}
.item-button {
  position: absolute;
  bottom: -61px;
  left: 34px;
  z-index: -1;
  padding: 11px 18px;
  border-radius: 16px;
  opacity: 0;
}
.ice-cream-item:hover .ice-cream-wrapper > .item-button {
  z-index: 2;
  opacity: 1;
}
.features {
  margin-bottom: 40px;
  padding: 30px 30px 30px 20px;
  line-height: 22px;
  color: #323232;
  background-color: #e1d7bb;
  background-image: url(../img/wafer.jpg);
  border-radius: 11px 15px;
}
.features-slogan {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  column-count: 2;
}
.features-item {
  margin-bottom: 28px;
  padding-left: 56px;
}
.features-item::before {
  content: "";
  width: 49px;
  height: 49px;
}
.ice-picture::before {
  background-image: url(../img/ice-cream.svg);
}
.leaf-picture::before {
  background-image: url(../img/leaf.svg);
}
.cow-picture::before {
  background-image: url(../img/cow.svg);
}
.thermometer-picture::before {
  background-image: url(../img/thermometer.svg);
}
.blog-newsletter-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.blog-news {
  width: 560px;
  min-height: 222px;
  padding: 25px 20px;
  color: #323232;
  line-height: 22px;
  background-color: #fcfcfc;
  background-image: url(../img/strawberry.jpg);
  border-radius: 13px;
}
.blog-news h2 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
}
.blog-news p {
  margin: 0;
  padding: 0;
  width: 280px;
}
.blog-news a{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: inherit;
  background-image: linear-gradient(to bottom, #323232 100%, transparent 100%);
  background-position: 0 25px;
  background-repeat: repeat-x;
  background-size: 1px 2px;
}
.blog-news a:hover,
.blog-news a:active {
  color: #e84d37;
  background-image: linear-gradient(to bottom, rgba(232,77,55,.3) 100%, transparent 100%);
}
.newsletter-subscription {
  width: 560px;
  padding: 5px;
  background-color: #e1d5dc;
  background-image: url(../img/post-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 11px;
}
.background {
  padding: 30px 15px 35px;
  background-color: #f8f7f4;
  border-radius: 9px;
}
.newsletter-subscription p {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  line-height: 22px;
  color: #5a5a5a;
}
.newsletter-subscription input {
  width: 368px;
  margin-right: 10px;
  padding: 15px 13px;
  font-size: 16px;
  border-radius: 3px;
}
.subscription-form .button {
  width: 129px;
  padding: 14px 19px;
  text-align: center;
}
.contacts-container {
  position: relative;
  width: 1200px;
  margin: 0 -27px;
}
.contacts-description {
  position: absolute;
  top: 62px;
  right: 27px;
  width: 305px;
  padding: 30px 26px 33px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  background-color: #fefefe;
  border-radius: 13px;
}
.contacts-description p {
  margin: 0;
  padding: 0;
}
.contacts-description .contacts-adress {
  margin-bottom: 24px;
}
.contacts-description .contacts-phone {
  margin-bottom: 27px;
}
.contacts-adress strong,
.contacts-phone strong {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.contacts-description .button {
  display: inline-block;
  vertical-align: middle;
  padding: 14px 28px;
}
.main-footer {
  padding: 0 27px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 24px;
}
.social {
  display: flex;
  width: 267px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  list-style: none;
}
.social li {
  width: 32px;
  height: 32px;
  margin-right: 11px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.social li:hover,
.social li:active {
  border: 3px solid rgba(255, 255, 255, 0.7);
}
.twitter {
  background-image: url(../img/twitter.svg);
  background-position: center;
 }
 .twitter:hover {
  background-image: url(../img/twitter-hover.svg);
 }
 .twitter:active {
  background-image: url(../img/twitter-active.svg);
 }
.instagramm {
  background-image: url(../img/instagramm.svg);
  background-position: center;
}
.instagramm:hover {
  background-image: url(../img/instagramm-hover.svg);
}
.instagramm:active {
  background-image: url(../img/instagramm-active.svg);
}
.facebook {
  background-image: url(../img/facebook.svg);
  background-position: center;
}
.facebook:hover {
  background-image: url(../img/facebook-hover.svg);
}

.facebook:active {
  background-image: url(../img/facebook-active.svg);
}
.vk {
  background-image: url(../img/vkontakte.svg);
  background-position: center;
}
.vk:hover {
  background-image: url(../img/vkontakte-hover.svg);
}
.vk:active {
  background-image: url(../img/vkontakte-active.svg);
}
.heart-picture::before {
  content: "";
  width: 15px;
  height: 13px;
  background-image: url(../img/heart.svg);
}
.for-constractors-menu {
  width: 365px;
  margin: 0;
  padding: 0;
  padding-left: 24px;
  list-style: none;
  column-count: 2;
  font-size: 13px;
}
.for-constractors-menu a {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.for-constractors-menu a:hover,
.for-constractors-menu a:active {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, 0.3);
}
.constractors {
  font-weight: 700;
}
.copyright {
  width: 190px;
}
.academy-link {
  color: #fefefe;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.academy-link:hover,
.academy-link:active {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, 0.3);
}
.copyright p {
  margin: 0;
  margin-top: 8px;
  padding: 0;
  font-size: 12px;
  color: #fefefe;
}
.modal-feedback {
  position: relative;
  width: 477px;
  padding: 20px 25px 27px;
  background-color: #f8f7f4;
  border-radius: 9px;
}
.modal-feedback p {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}
.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 18px;
  height: 17px;
  background-image: url(../img/x-big.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-color: #f8f7f4;
}
.feedback-form {
  display: flex;
  flex-direction: column;
}
.modal-feedback input,
.modal-feedback textarea {
  font-size: 16px;
  border-radius: 4px;
}
.modal-feedback input {
  width: 268px;
  margin-bottom: 21px;
  padding: 11px 14px 6px;
}
.modal-feedback textarea {
  width: 428px;
  min-height: 155px;
  margin-bottom: 25px;
  padding: 14px 15px;
  resize: none;
}
.feedback-form .button {
  align-self: flex-end;
  padding: 14px 24px;
  border-radius: 17px;
}
/*Каталог*/
.catalog-main {
  position: relative;
  padding-top: 10px;
}
.breadcrumbs {
  position: absolute;
  top: -20px;
  left: 27px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.breadcrumbs-link {
  position: relative;
  margin-right: 20px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.breadcrumbs-link:hover,
.breadcrumbs-link:active {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, 0.3);
}
.breadcrumbs-link::after {
  content: "»";
  position: absolute;
  top: 2px;
  right: -15px;
}
.catalog-main h1 {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}
.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 863px;
  margin-bottom: 40px;
  padding: 0;
  font-weight: 500;
}
.filters fieldset {
  padding: 0;
  border: none;
}
.sorting-filter-wrapper {
  width: 195px;
  margin: 0;
}
.sorting-filter-label {
  font-size: 14px;
  line-height: 16px;
  padding-left: 15px;
}
.sorting-filter {
  position: relative;
  width: 193px;
  margin-top: 5px;
  padding: 8px 11px 8px;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 17px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.sorting-filter::before {
  content: "";
  position: absolute;
  top: 13px;
  right: 14px;
  width: 11px;
  height: 10px;
  background-image: url(../img/icon-down-dir.svg);
}
.sorting-filter:hover {
  color: #323232;
}
.sorting-filter:focus {
  color: #323232;
  background-color: #ffffff;
}
.sorting-filter:hover::before,
.sorting-filter:focus::before {
  content: "";
  width: 11px;
  height: 10px;
  background-image: url(../img/icon-down-dir-black.svg);
}
.sorting-filter option {
  font-size: 14px;
  line-height: 14px;
  color: #323232;
  background-color: #ffffff;
}
.sorting-filter option:hover {
  color: #ffffff;
  background-color: #1e90ff;
}
.filters legend {
  margin-bottom: 5px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 16px;
}
.price {
  position: relative;
  width: 218px;
}
.price-value {
  position: absolute;
  top: -22px;
  left: 70px;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}
.price-value input {
  width: 26px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color: transparent;
  border: none;
}
.price-range-background {
  width: 218px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}
.fat {
  width: 414px;
}
.price-range-fat-line::before,
.price-range-fat-line::after {
  content: "";
  width: 20px;
  height: 23px;
  background-image: url(../img/filter-button.svg);
}
.fat-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 9px 20px 9px 46px;
  background-color: rgba(255, 255, 255, 0.2);
  list-style: none;
  border-radius: 15px;
}
.fat-list-button::before {
  content: "";
  width: 22px;
  height: 22px;
  background-image: url(../img/radio-off.svg);
  background-size: contain;
}
.fat-list-button:hover::before {
  background-image: url(../img/radio-off-hover.svg);
}
.fat-list-radio:focus + .fat-list-button::before {
  background-image: url(../img/radio-off-focus.svg);
}
.fat-list-radio:checked + .fat-list-button::before {
  background-image: url(../img/radio-on.svg);
}
.fat-list-radio:checked + .fat-list-button:hover::before,
.fat-list-radio:focus:checked + .fat-list-button:hover::before {
  background-image: url(../img/radio-on-hover.svg);
}
.fat-list-radio:focus:checked + .fat-list-button::before {
  background-image: url(../img/radio-on-focus.svg);
}
.fat-list-radio:disabled + .fat-list-button::before {
  background-image: url(../img/radio-off-disabled.svg);
}
.fat-list-radio:disabled:checked + .fat-list-button::before {
  background-image: url(../img/radio-on-disabled.svg);
}
.filler {
  width: 702px;
  margin-top: 15px;
}
.filler-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 9px 14px 9px 47px;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}
.filler-list-button::before {
  content: "";
  width: 24px;
  height: 20px;
  background-image: url(../img/checkbox-off.svg);
}
.filler-list-button:hover::before {
  background-image: url(../img/checkbox-off-hover.svg);
}
.filler-list-checkbox:focus + .filler-list-button::before {
  background-image: url(../img/checkbox-off-focus.svg);
}
.filler-list-checkbox:checked + .filler-list-button::before {
  background-image: url(../img/checkbox-on.svg);
}
.filler-list-checkbox:focus:checked + .filler-list-button::before {
  background-image: url(../img/checkbox-on-focus.svg);
}
.filler-list-checkbox:checked + .filler-list-button:hover::before {
  background-image: url(../img/checkbox-on-hover.svg);
}
.filler-list-checkbox:disabled + .filler-list-button::before {
  background-image: url(../img/checkbox-off-disabled.svg);
}
.filler-list-checkbox:disabled:checked + .filler-list-button::before {
  background-image: url(../img/checkbox-on-disabled.svg);
}
.filters-button {
  align-self: flex-end;
  padding: 7px 30px;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 18px;
}
.filters-button:hover {
  color: #323232;
  background-color: #fbfcfb;
}
.filters-button:active {
  color: #323232;
  background-color: #ededed;
  border: none;
}
.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 0;
  font-weight: 500;
  list-style: none;
}
.pagination li {
  padding: 5px 10px 5px 9px;
  text-align: center;
  border-radius: 50%;
}
.back {
  margin-right: 13px;
  background: url(../img/icon-back-small.svg) no-repeat center;
  transform: rotate(180deg);
}
.forward {
  margin-left: 13px;
  background: url(../img/icon-forward-small.svg) no-repeat center;
}
.pagination .page:active,
.pagination .active {
  color: #323232;
  background-color: #ffffff;
}
.pagination .page:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.pagination a {
  color: inherit;
}
.catalog-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
